apiVersion: apps/v1
kind: Deployment
metadata:
  name: phone-games-landing
  labels:
    app: phone-games-landing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phone-games-landing
  template:
    metadata:
      labels:
        app: phone-games-landing
    spec:
      containers:
      - name: landing
        image: xaace/phone-games-landing:main-a2561a5
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
