apiVersion: v1
kind: Service
metadata:
  name: phone-games-landing
  namespace: phone-games
  labels:
    app: phone-games-landing
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: phone-games-landing
