apiVersion: v1
kind: Service
metadata:
  name: phone-games-server
  namespace: phone-games
  labels:
    app: phone-games-server
spec:
  type: ClusterIP
  ports:
  - port: 4000
    targetPort: 4000
    protocol: TCP
    name: http
  selector:
    app: phone-games-server
